@charset "UTF-8";
body{
	border: solid
}
div#container{
	border: solid 1px navy;
	width: 80%;
	margin: 20px auto;
}
div#header{
	border: solid 0px red;
	height: 100px;
	background-color: #ccc; 	/* #ccc; 는 #cccccc; 이다  */
	margin-top: 50px; 			/* margin: 50px 0 0 0; 와 같은 것이다 상 우 하 좌*/ 
}

div#side{
	border: solid 0px green;
	/* display: inline-block; 
	height: 400px;
	*/
	width: 30%;
	background-color: #888;
}
div#contents{
	border: solid 0px blue;
	display: inline-block;
	height: 400px;
	width: 70%;
	background-color: #eee;
	
}
div#footer{
	border: solid 1px red;
}